#body{
  display: block;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#content-upper {
  position: fixed;
  height: 10vh;
  width: 100%;
  display: flex;
  margin: 0;
  padding: 0;
  top: 0;
}

#content-middle {
  position: fixed;
  width: 100%;
  display: flex;
  margin: 0;
  padding: 10px;
  top: 0;
}

#content-middle {
  width: 100%;
  display: flex;
  margin: 0;
  top: 0;
}

#content-text {
  max-width: 95vw;
  width: 800px;
  display: flex;
  margin: 0;
  padding: 10px;
  top: 0;
}

#content {
  position: fixed;
  min-height: 200px;
  max-height: 50vh;
  width: 100%;
  display: flex;
  margin: 0;
  padding: 0;
  top: 0;
}

.colContainer {
  height: 100%;
  display: in-line;
}

#footer {
  text-align: left;
  bottom: 0;
  right: 0;
  position: fixed;
  width: 100%;
  font-style: italic;
  margin: auto 10px auto 10px;
  height: 50px;
    font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  background: white;
}

p {
  padding: 5px;
}