html{
    color: #151515;
    font-size: 18px;
    line-height: 1.6;
    font-family: "neue-kabel", sans-serif;
    font-weight: 300;
    font-style: normal;
    line-height: 1.2;
}

body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: block;

}

a {
  color: #062865;
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

#content-background {
  height: 100%;
  width: 100%;
  display: flex;
  margin: 0;
  padding: 0;
  position: fixed;
  z-index: -1;
}

#content-middle {
  width: 100%;
  margin: 0px;
  background-color: aliceblue;
    border-top: 1px solid #062865;
  border-bottom: 1px solid #062865;
  padding: 0;
}

#content-text {
  max-width: 95vw;
  width: 800px;
  margin: 10px auto 10px auto;
}

#content {
  height: clamp(50px, 20vh, 300px);
  width: 100%;
  margin: 0;
  padding: 0;
}
#content-upper {
  height: clamp(50px, 10vh, 200px);
  width: 100%;
  margin: 0;
  padding: 0;
}

.colContainer {
  height: 100%;
  display: inline;
}

#footer {
  background-color: aliceblue;
  width: 100%;
  margin: 0;
  margin-bottom: clamp(50px, 15vh, 250px);
  border-top: 1px solid #062865;
  border-bottom: 1px solid #062865;
}

#footer-text{
  /*font-size: clamp(0.75rem, 1vw, 0.875rem);*/
  max-width: 95vw;
  text-align: left;
  width: 800px;
  margin: auto;
  padding: 10px;
}

p {
  padding: 5px;
}